default: &default
  adapter: sqlite3
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  database: db/development.sqlite3

test:
  <<: *default
  adapter: sqlite3
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000
  database: db/test.sqlite3

production:
  adapter: mysql2
  encoding: utf8
  database: BoardS_production
  reconnect: false
  pool: 5
  username: <%= Rails.application.credentials.db[:username] %>
  host: <%= Rails.application.credentials.db[:host] %>
  password: <%= ENV['DATABASE_PASSWORD'] %>
  timeout: 5000
  socket: /var/lib/mysql/mysql.sock
# docker-compose
# default: &default
#   adapter: mysql2
#   encoding: utf8
#   reconnect: false
#   pool: 5
#   username: <%= Rails.application.credentials.db[:username] %>
#   host: <%= Rails.application.credentials.db[:host] %>
#   password: <%= Rails.application.credentials.db[:password] %>
#   timeout: 5000

# development:
#   <<: *default
#   database: app_development

# test:
#   <<: *default
#   database: app_test

# production:
#   <<: *default
#   database: app_production
#   use_metadata_table: false
