.DS_Store
# Logs
logs
*.log
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock


# Dependency directories
node_modules/

# Nuxt.js build / generate output
dist



.pnp.*
*.rbc
capybara-*.html
.rspec
/coverage/
/spec/tmp
*.sqlite3

# Ignore all logfiles and tempfiles.
backend/log
backend/tmp/cache/*
backend/tmp/pids/*
backend/tmp/storage/*
backend/tmp/*.txt
backend/storage/*
backend/storage/*
backend/.gitignore
!.keep


# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv, dotenv-rails
# TODO Comment out these rules if environment variables can be committed
.env
.env.development
.env.production

## Environment normalization:
/.bundle
/vendor/bundle

# Ignore Byebug command history file.
.byebug_history

# Ignore node_modules
node_modules/
frontend/.gitignore
# Ignore uploaded files in development
