version: "3.8"
services:
  db:
    container_name: db
    image: mysql:latest
    command: --default-authentication-plugin=mysql_native_password
    # volumes:
    #   - ./backend/db/mysql_data:/var/lib/mysql
    environment:
      TZ: Asia/Tokyo
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: dev
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    # user: 1002:1002
  
    # test-db:
    # container_name: db
    # image: mysql:latest
    # command: --default-authentication-plugin=mysql_native_password
    # volumes:
    #   - ./backend/db/mysql_data:/var/lib/mysql
    # environment:
    #   TZ: Asia/Tokyo
    #   MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    #   MYSQL_DATABASE: dev
    #   MYSQL_USER: ${MYSQL_USER}
    #   MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    # user: 1002:1002

  backend:
    container_name: backend
    build:
      dockerfile: Dockerfile
      context: ./backend
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    tty: true
    stdin_open: true
    volumes:
      - ./backend:/backend
    depends_on:
      - db
    ports:
      - 3000:3000

  frontend:
    container_name: frontend 
    build:
      dockerfile: Dockerfile
      context: ./frontend
    volumes:
      - ./frontend:/app
    ports:
      - 8080:8080
    command: npm run serve