version: "3.8"
services:
  db:
    container_name: db
    image: mysql:8.0.28
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - ./backend/db/mysql_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: Mohiro1996
      TZ: Asia/Tokyo
    user: 1002:1002

  backend:
    container_name: backend
    build: ./backend/
    image: backend
    command: bundle exec rails server -b 0.0.0.0
    tty: true
    stdin_open: true
    volumes:
      - ./backend:/app:cached
      - bundle_data:/usr/local/bundle:cached
      - /app/vendor
      - /app/tmp
      - /app/log
      - /app/.git
    environment:
      TZ: Asia/Tokyo
    depends_on:
      - db
    ports:
      - 5000:3000 # ポートフォワード
    # networks:
    #   app_net:
    #     ipv4_address: '172.20.0.3'
  frontend:
    container_name: frontend
    build: ./frontend/
    image: frontend
    volumes:
      - ./frontend:/app
    ports:
      - 3000:3000
    command: "npm run serve"
# networks:
#   app_net:
#     driver: bridge
#     ipam:
#       driver: default
#       config:
#         - subnet: 172.20.0.0/24

volumes:
  mysql_data:
  bundle_data:
  # web:
  #   build: .
  #   command: bundle exec rails s -p 3000 -b '0.0.0.0'
  #   volumes:
  #     - ./src:/app
  #   ports:
  #     - "3000:3000"
  #   depends_on:
  #     - db